*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #FFEDD5;
    font-family: 'roboto', sans-serif;
  }
  ul{
    list-style: none;
  }
  header{
    padding: 32px 0;
    text-align: center;
  }
  
  header, section{
    max-width: 300px;
    margin: 0 auto;
  }
  header h1{
    margin-bottom: 4px;
  }
  h1{
    font-size: 28px;
  }
  header h1 span{
    color: #995000;
  }
  header p{
    font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
  }
  section{
  margin-bottom: 24px;
  }
  section h2{
    background: #FED7AA;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
  }
  section .details h3{
    margin-bottom: 8px;
  }
  ul li{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
  }
  li .details{
    max-width: 240px;
  }
  .details p{
    color: rgba(0, 0, 0, 0.6);
    line-height: 21px;
    font-size: 14px;
  }
  h1, h2,
  h3 .price{
    font-family: 'roboto serif', serif;
    text-transform: uppercase;
    color: #2D2C2A;
  }